.txt {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.connect {
    display: block;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: right;
    position: relative;
    padding: 1rem 1rem 0 0;
    float: right;
}

@media (max-width: 600px) {
    .dataContainer {
        display: block;
        margin: auto;
        text-align: center;
        position: relative;
    }
    .logo {
        margin: auto;
        text-align: center;
    }
}