
@media (max-width: 600px) {
    .dataContainer {
        display: block;
        margin: auto;
        text-align: center;
    }
    .logo {
        display: flex;
        margin: auto;
        text-align: center;
    }
}